<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button title=""></ion-back-button>
    </ion-buttons>
    <ion-title>My pickup calls</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >

  <app-pickup-call-card status="hold" updateAt="25/08/2023 17:49" createdAt="24/08/2023 17:49"
  notes="we have to bags that are full, one with plastic and the other with glasses"></app-pickup-call-card>

  <app-pickup-call-card status="processing" updateAt="26/08/2023 12:00" createdAt="26/08/2023 17:49"
  notes="we have to bags that are full"></app-pickup-call-card>

  <app-pickup-call-card status="finished" updateAt="27/08/2023 08:30" createdAt="27/08/2023 17:49" value="$ 15,00"></app-pickup-call-card>
  
</ion-content>
